{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    
    <h1>Blog Home</h1>
    <hr/>
    <br/>
        
    <br/>

        <main>
            <article>
                <p>{% for post in posts %}
                    <div class="flex-container">
                        <img class="profile-img" src="{{ post.author.profile.image.url }}">
                        <div class="flex-box">
                            <h3 class="article-title">Title: <a href="{% url 'Post-Detail' post.id %}">{{post.title}}</a></h3>
                            <p>Author: <b>{{post.author}}</b></p>
                            <p>{{post.content}}</p>
                            <p>Submitted on: {{post.date_posted|date:"F d, Y" }}</p>
                        </div>
                    </div>
                    <hr/>
                    <br/>
                    {% endfor %}
                </p>
            </article>
        </main>

        {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
  
        {% endif %}
    
    <!-- Footer -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
				</div>
				<hr>
            </div>
            <br/>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© All Rights Reversed</p>
				</div>
				<hr>
			</div>	
		</div>
	</div>
	<!-- ./Footer -->


    
{% endblock content %}
