{% extends "blog/base.html" %}
{% block content %}

    <h1>Blog Home</h1>
    <hr/>
    <br/>
    <header>
        
        <br/>
    </header>
        <main>
            <article>
                <p>{% for post in posts %}
                    <img src="{{ post.author.profile.image.url }}">
                    <h3>Title: <a class="article-title" href="{% url 'Post-Detail' post.id %}">{{post.title}}</a></h3>
                    <p>Author: {{post.author}}</p>
                    <p>{{post.content}}</p>
                    <p>Submitted on: {{post.date_posted|date:"F d, Y" }}</p>

                    {% endfor %}
                </p>
            </article>
        </main>
    <footer>
        <span>
            <form action="http://localhost:8000/about">
                <button type="submit">About</button>
            </form>
            <form action="http://localhost:8000/contact">
                <button type="submit">Contact Us</button>
            </form>
            <form action="http://localhost:8000/register">
                <button type="submit">Register</button>
            </form>
            <form action="http://localhost:8000/logout">
                <button type="submit">Logout</button>
            </form>
            <form action="http://localhost:8000/profile">
                <button type="submit">Profile</button>
            </form>
        </span>
    </footer>

    
{% endblock content %}
