{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
        <div class="media-body">
            <h3 class="account-heading">{{user.username}}</h3>
            <p class="text-secondary">{{user.email}}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Blog Post</legend>
                    {{form}}
            </fieldset>
            <div class="form-group">
                <button type="submit">Post</button>
            </div>
        </form>
        <form action="http://localhost:8000">
            <button type="submit">Home</button>
        </form>
    </div>
{% endblock %}
